@import "./src/styles/variables";

.navbar {
  height: 60px;
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  &__container {
    width: 80%;
    display: flex;
    height: 100%;


  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 30px;
    cursor: pointer;
    position: relative;

    transition: .5s ease;

    text-decoration: none;
    color: $font-color;
    padding: 0 10px;




    &:hover {

      background-color: $nav-hover-bgc;

      a {
        color: $nav-hover-color;
      }


    }

    &--active {

      color: $nav-hover-color;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: $nav-hover-color;
        top: 58px;
        left: 0;
      }



    }


  }

}