.auth {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  &__wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-container {
    form {
      display: flex;
      flex-direction: column;
    }
  }



  &__btn {
    background-color: #ff4500!important;
    color: $main-color!important;
    width: 200px!important;
    height: 40px!important;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 15px;
    align-self: center;
    transition: .5s ease;

    &:hover {
      opacity: .8;
    }
  }
}

