.create-post {
  &-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  &__wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    box-sizing: border-box;
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;

  }

  &__body {
    margin-top: 15px;
    min-width: 100%;
    max-width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    padding: 8px 16px;
    min-height: 400px;
  }

  &__create {
    margin-top: 15px;
    align-self: center;
    width: 250px!important;
    height: 50px!important;
  }
}

@media (max-width: 720px) {

  .create-post {
    &__title, &__body {
      font-size: 18px;
    }

    &__create {
      font-size: 20px!important;
    }
  }

}