// import modules
@import "variables";

// posts page
@import "post";
@import "navbar";
@import "filter";

//create post page
@import "createPost";

// account page
@import "account";

// auth and register pages
@import "auth";

// users page
@import "users";

@import "readPost";

// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f4f4f4;
}

input, textarea {
  border: 1px solid #cbccce;
}

.posts-container {

  margin-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 5%;
  width: 150px;
  border: none;
  height: 29px;
  background-color: #F2BB7B;
  color: #4A403A;
  font-size: 16px;
  cursor: pointer;
}

.message-info {
  text-align: center;
}

// loader

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #A19882;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

// post-loader

.post-loader {

  display: flex;
  justify-content: center;
  align-items: center;

}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $nav-hover-color;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.error-message {
  margin-top: 15px;
  min-height: 40px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border-radius: 3%;
  line-height: 40px;
  background-color: #d30027;
  display: none;

}

.error-message--active {
  display: block;
}

.textInput {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  input {
    box-sizing: border-box;
    height: 48px;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 12px 24px 4px 12px;
    width: 100%;
    font-size: 18px;
  }

  p {
    margin-top: 5px;
  }

  p.letters {
    color: #1c1c1c;
  }

  label {
    margin-top: 5px;
    margin-bottom: 2px;
  }
}
