@import "./src/styles/variables";

.post {
  width: 600px;
  height: 200px;
  box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.10);

  margin-bottom: 25px;

  &__header {
    height: 80%;
    background-color: $main-color;
    box-sizing: border-box;
    padding: 15px;
  }

  &__footer {
    height: 20%;
    background-color: $post-footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  &__body {
    margin-top: 10px;
  }

  &__btn {
    text-align: center;
    text-decoration: none;
    line-height: 29px;
  }


}