@import "./styles/variables";

.filter {

  &-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }

  &__show {
    &--active {
      background-color: #C36839!important;
      color: #fff!important;
    }
  }


  &__panel {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__body {
    background-color: $main-color;
    position: relative;
    margin-top: 14px;
    box-shadow: 2px 2px 12px 4px rgb(0 0 0 / 5%);
    padding: 10px;

    display: none;
    flex-direction: column;
    align-items: center;

    transition: .5s ease;

    &:after {
      content: "";
      position: absolute;
      right: 5px;
      width: 0;
      height: 0;
      margin: 30px auto;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid $main-color;
      bottom: 87px;
    }

    &--active {
      display: flex;
    }
  }

  &__sort {
    margin: 10px 0;
    p {
      text-align: center;
    }
    label {
      margin-right: 5px;
    }
  }

}

@media (max-width: 720px) {

  .filter-container {
    margin-right: 10px;
  }

  .filter__search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filter__show, .filter-container, .filter-container input, .filter-container select {
    font-size: 18px!important;
  }

}