@import "./styles/variables";

.posts__title {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 20px;
}

.post {

  width: 600px;
  height: 200px;
  box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.10);

  margin-bottom: 25px;

  &__header {
    height: 80%;
    background-color: $main-color;
    box-sizing: border-box;
    padding: 15px;
  }

  &__footer {
    height: 20%;
    background-color: $post-footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  &__btn {
    text-align: center;
    text-decoration: none;
    line-height: 29px;
  }

  &__body {
    margin-top: 10px;
  }


}

@media (max-width: 720px) {

  .posts__title {
    font-size: 30px;
  }

  .post {
    width: 100%;
    min-height: 200px;
    height: 100%;

    &__title {
      font-size: 26px;
    }

    &__body {
      font-size: 18px;
      min-height: 75%;
    }

    &__footer {
      height: 25%;
    }

    &__btn {
      font-size: 20px!important;
      height: 38px!important;
      margin: 5px;
      line-height: 38px!important;
    }

  }
}