@import '@/styles/variables';

.comments {
  &__container {
    list-style: none;
    margin: 15px 0;
  }
}

.comment {
  &__item {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.514);
    padding: 5px;
    border-radius: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    align-items: center;

    small {
      margin-left: 20px;
      font-size: 14px;
      color: rgb(58, 57, 57);
    }

  }

  &__toolbar {
    display: flex;
    grid-column: 2/3;
    justify-self: end;
    align-items: center;

    button {
      font-size: 20px;
      border: none;
      cursor: pointer;
      margin: 0 3px;
      transition: .2s ease;
      background-color: inherit;

      &:hover {
        color: $btn-main-bgc;
      }
    }
  }

  &__body {
    white-space: pre;
    display: inline-block;
    width: 100%;
    padding: 5px;

  }

  &__form {
    display: inline-block;
    width: 100%;
    white-space: pre;
    height: 200px;
    max-height: 300px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 6px;
    padding: 5px;
  }

  &__btn {
    margin: 10px auto;
  }


}

@media (max-width: 720px) {
  .comments {
    &__container {
      width: 95%;
      margin: 15px auto;
    }

    &__title {
      margin-left: 30px;
      margin-bottom: 5px;
    }
  }

  .comment {
    &__form {
      display: block;
      width: 95%;
      margin: 0 auto;
    }
  }
}