.read-post {
  &-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  &__wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    margin: 20px 0;

  }

  &__body {
    margin-top: 25px;
    min-width: 100%;
    max-width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    padding: 8px 16px;
    text-align: justify;
  }

  &__img {
    width: 100%;
    height: auto;
  }


  &__toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
  }

  &__post-data {
    display: flex;
    align-items: center;
  }

  &__btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;

  }

  &__edit {
    margin-right: 6px;
  }

  &__post-author {
    margin-right: 10px;
  }
}

hr {
  margin: 15px;
}

@media (max-width: 720px) {

  .read-post {

    &__title,
    &__body {
      font-size: 18px;
    }

    &__toolbar {
      flex-direction: column;
    }

    &__btn-container {
      justify-content: center;
      margin-top: 10px;
    }

    &__img {
      width: 95%;
      height: auto;
      margin: 0 auto;
    }

    &__post-data {
      justify-content: center;
    }

    &__edit,
    &__delete {
      width: 130px !important;
      height: 40px !important;
      line-height: 40px !important;
    }

    &__edit {
      margin-right: 10px;
    }

  }



}