@import "styles/variables";

// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f4f4f4;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

input, textarea {
  border: 1px solid #cbccce;
}

.posts-container {

  margin-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: block;
  text-decoration: none;
  border-radius: 5%;
  width: 150px;
  border: none;
  height: 29px;
  background-color: #F2BB7B;
  color: #4A403A;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  line-height: 29px;

  &:disabled, &[disabled] {
    cursor: not-allowed;
  }

}

.new-line {
  white-space:pre;
  display: inline-block;
  width: 100%;
 }

.message-info {
  margin-top: 35px;
  text-align: center;
}


.alert-message {
  margin-top: 15px;
  min-height: 40px;
  width: 250px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border-radius: 3%;
  line-height: 40px;
  background-color: #d3a700;
  display: none;

  padding: 3px;

  span {
    display: block;
  }

  &--active {
    display: block;
  }

  &--error {
    background-color: #d30027;
  }

  &--success {
    background-color: #00d302;
  }

}


.textInput {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  input {
    box-sizing: border-box;
    height: 48px;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 10px 24px 4px 12px;
    width: 250px;
    font-size: 18px;
  }

  p {
    margin-top: 5px;
  }

  p.letters {
    color: #1c1c1c;
  }

  label {
    margin-top: 5px;
    margin-bottom: 2px;
  }
}
