@import "./src/styles/variables";

.account {

  &-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  &__wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__main-title, &__title, &__status {
    text-align: center;
    margin-bottom: 15px;
  }

  &__title {
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #000;
      position: absolute;
      bottom: -5px;
      left: 0;
      box-shadow: 2px 2px 12px 4px rgb(0 0 0 / 5%);
      opacity: 0.3;
    }
  }

  &__get-posts {
    margin-top: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 29px;
    background-color: $nav-hover-color!important;
    color: #fff!important;
    padding: 5px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__change-data-container, &__confirm-code {
    margin-top: 25px;
    position: relative;
    padding: 0 5px;

    form {
      display: flex;
      flex-direction: column;
    }

  }
  &__btn {
    background-color: #ff4500!important;
    color: $main-color!important;
    width: 200px!important;
    height: 40px!important;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 15px;
    align-self: center;
    transition: .5s ease;

    &:hover {
      opacity: .8;
    }
  }


}

@media (max-width: 720px) {

  .account {
    &__main-title, &__title, &__status {
      font-size: 30px;
    }

    input {
      font-size: 18px;
    }

  }


}

