@import "src/styles/variables";

.users {
  &-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }

  &__list {
    list-style: none;
  }
}

.user {
  display: flex;

  font-size: 18px;

  &__email {
    margin-left: 15px;
    margin-bottom: 10px;
    color: $font-color;
  }
}

@media (max-width: 720px) {
  .user {
    font-size: 20px;
  }
}